
<ion-content [fullscreen]="true">
  <div style="max-width: 100%; height:50%;">

  <ion-button (click)="onAddRow()"> Add Client</ion-button>
 
  <ag-grid-angular 
	  style="width: 100%; height: 100%;"
	  class="ag-theme-alpine"
	  [rowData]="rowData"
	  [columnDefs]="columnDefs"
	  [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]=10
    [editType]="editType"
    (gridReady)="onGridReady($event)"
    (rowValueChanged)="onRowValueChanged($event)"

  >

  </ag-grid-angular>

</div>
</ion-content>
